<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>liftSmart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03A020781C7F9D1E0033F933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A020941C7F9D1F0033F933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A0209F1C7F9D1F0033F933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
